{% assign lang_suffix = '' %} {% assign lang_prefix = '' %} {% if site.lang !=
'es' %} {% assign lang_suffix = "_" | append: site.lang %} {% assign lang_prefix
= "/" | append: site.lang %} {% endif %} {% assign name_key = "name" | append:
lang_suffix %}
<!-- Header -->
<header style="background-image: url({{"/img/verduras-rrss.jpg" | prepend: site.url}});">
  <div id="products" class="container header2">
    <div class="row ">
      <div class="col-lg-12 text-center">
        <h1 id="question">{% t global.header %}</h1>
        <div class="slider">
          <div id="slider-range-max"></div>
          <h2><span id="slider-value"></span>&nbsp;<span id="unit"></span></h2>
          <div id="answer-note" style="display:none">
            <button
              id="answer-button"
              class="btn btn-primary"
              type="button"
              name="button"
            >
              ¿Estás seguro/a?
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Product Grid Section -->
<section id="product" style="display:none">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div id="answer" class="center-block"></div>
      </div>
    </div>
    <div class="loader">
      <i class="fa fa-spinner fa-spin fa-fw fa-3x"></i>
      <span class="sr-only">{% t home.loading %}</span>
    </div>
    <div class="grid row">
      {% for product in site.products %} {% assign product_id = product.id |
      replace: '/products/',''%} {% assign product_data =
      site.data.products[product_id] %}
      <div class="product-item col-sm-4 col-xs-4 product-{{ forloop.index }}">
        <a
          href="{{ product.id | prepend: lang_prefix }}"
          class="product-link"
          title="{{product_data[name_key]}}"
        >
          <img
            src="/img/products/{{ product_data.img }}"
            class="img-responsive center-block"
            alt="{{ product_data[name_key] }}"
            title="{{ product_data[name_key] }}"
          />
          <i class="fa icon-season"></i>
          <span class="product-title">{{product_data[name_key]}}</span>
        </a>

        <span class="id">{{forloop.index}}</span>
        <span class="season">{{forloop.index}}</span>
        <span class="category">{{product_data.category}}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
